pipeline/PL_Generic_Copy_ADLS_POR_copy1.json
{
	"name": "PL_Generic_Copy_ADLS_POR_copy1",
	"properties": {
		"activities": [
			{
				"name": "Lkp_GetTableDetails",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "lkp_ExecStartAuditProc",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('Select Distinct SourceDB , SourceQuery = ''Select ''+ColumnList+'' From ''+SourceSchemaName+''.''+SourceTableName, TargetContainer, TargetPath, TargetFile, FileFormat\nFrom [dbo].[control_table_por]\nWhere ID = ',string(pipeline().parameters.IDValue))",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Briggs_MDW",
						"type": "DatasetReference",
						"parameters": {
							"schema_name": "dbo",
							"table_name": "user"
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Parse_Through_DB",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "Sp_ExecUpdateAudit",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@activity('Lkp_GetTableDetails').output.firstRow.SourceDB",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "POR",
							"activities": [
								{
									"name": "Copy_POR_ADLS",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "@activity('Lkp_GetTableDetails').output.firstRow.SourceQuery",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_POR",
											"type": "DatasetReference",
											"parameters": {
												"schema_name": "dbo",
												"table_name": "user"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_ADLS_Parquet_1",
											"type": "DatasetReference",
											"parameters": {
												"ContainerName": {
													"value": "@activity('Lkp_GetTableDetails').output.firstRow.TargetContainer",
													"type": "Expression"
												},
												"Path": {
													"value": "@activity('Lkp_GetTableDetails').output.firstRow.TargetPath",
													"type": "Expression"
												},
												"FileName": {
													"value": "@concat(activity('Lkp_GetTableDetails').output.firstRow.TargetFile,'.',activity('Lkp_GetTableDetails').output.firstRow.FileFormat)",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Sp_ExecSuccessAudit",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy_POR_ADLS",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[dbo].[proc_UpdateAuditLog]",
										"storedProcedureParameters": {
											"AuditID": {
												"value": {
													"value": "@activity('lkp_ExecStartAuditProc').output.firstRow.AuditID",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"DataLakePath": {
												"value": {
													"value": "@concat(activity('Lkp_GetTableDetails').output.firstRow.TargetPath,'/',activity('Lkp_GetTableDetails').output.firstRow.TargetFile,'_',formatDateTime(utcnow(),'yyyyMMdd'),'.',activity('Lkp_GetTableDetails').output.firstRow.FileFormat)",
													"type": "Expression"
												},
												"type": "String"
											},
											"RowsRead": {
												"value": {
													"value": "@activity('Copy_POR_ADLS').output.RowsRead",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"Status": {
												"value": "Success",
												"type": "String"
											},
											"PipelineRunID": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureSqlDatabase1",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Sp_ExecFailureAudit",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy_POR_ADLS",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[dbo].[proc_UpdateAuditLog]",
										"storedProcedureParameters": {
											"AuditID": {
												"value": {
													"value": "@activity('lkp_ExecStartAuditProc').output.firstRow.AuditID",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"DataLakePath": {
												"value": null,
												"type": "String"
											},
											"RowsRead": {
												"value": null,
												"type": "Int64"
											},
											"Status": {
												"value": "Failed",
												"type": "String"
											},
											"PipelineRunID": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureSqlDatabase1",
										"type": "LinkedServiceReference"
									}
								}
							]
						},
						{
							"value": "BriggsHR",
							"activities": [
								{
									"name": "Copy_BriggsHR_ADLS",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "@activity('Lkp_GetTableDetails').output.firstRow.SourceQuery",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_BriggsHR",
											"type": "DatasetReference"
										}
									],
									"outputs": [
										{
											"referenceName": "DS_ADLS_Parquet_1",
											"type": "DatasetReference",
											"parameters": {
												"ContainerName": {
													"value": "@activity('Lkp_GetTableDetails').output.firstRow.TargetContainer",
													"type": "Expression"
												},
												"Path": {
													"value": "@activity('Lkp_GetTableDetails').output.firstRow.TargetPath",
													"type": "Expression"
												},
												"FileName": {
													"value": "@concat(activity('Lkp_GetTableDetails').output.firstRow.TargetFile,'_',formatDateTime(utcnow(),'yyyyMMdd'),'.',activity('Lkp_GetTableDetails').output.firstRow.FileFormat)",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Sp_ExecSuccessAudit_BriggsHR",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy_BriggsHR_ADLS",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[dbo].[proc_UpdateAuditLog]",
										"storedProcedureParameters": {
											"AuditID": {
												"value": {
													"value": "@activity('lkp_ExecStartAuditProc').output.firstRow.AuditID",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"DataLakePath": {
												"value": {
													"value": "@concat(activity('Lkp_GetTableDetails').output.firstRow.TargetPath,'/',activity('Lkp_GetTableDetails').output.firstRow.TargetFile,'_',formatDateTime(utcnow(),'yyyyMMdd'),'.',activity('Lkp_GetTableDetails').output.firstRow.FileFormat)",
													"type": "Expression"
												},
												"type": "String"
											},
											"RowsRead": {
												"value": {
													"value": "@activity('Copy_BriggsHR_ADLS').output.RowsRead",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"Status": {
												"value": "Success",
												"type": "String"
											},
											"PipelineRunID": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureSqlDatabase1",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Sp_ExecFailureAudit_BriggsHR",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy_BriggsHR_ADLS",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[dbo].[proc_UpdateAuditLog]",
										"storedProcedureParameters": {
											"AuditID": {
												"value": {
													"value": "@activity('lkp_ExecStartAuditProc').output.firstRow.AuditID",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"DataLakePath": {
												"value": null,
												"type": "String"
											},
											"RowsRead": {
												"value": null,
												"type": "Int64"
											},
											"Status": {
												"value": "Failed",
												"type": "String"
											},
											"PipelineRunID": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureSqlDatabase1",
										"type": "LinkedServiceReference"
									}
								}
							]
						},
						{
							"value": "BriggsAX",
							"activities": [
								{
									"name": "Copy_BriggsAX_ADLS",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "@activity('Lkp_GetTableDetails').output.firstRow.SourceQuery",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_BriggsAX",
											"type": "DatasetReference"
										}
									],
									"outputs": [
										{
											"referenceName": "DS_ADLS_Parquet_1",
											"type": "DatasetReference",
											"parameters": {
												"ContainerName": {
													"value": "@activity('Lkp_GetTableDetails').output.firstRow.TargetContainer",
													"type": "Expression"
												},
												"Path": {
													"value": "@activity('Lkp_GetTableDetails').output.firstRow.TargetPath",
													"type": "Expression"
												},
												"FileName": {
													"value": "@concat(activity('Lkp_GetTableDetails').output.firstRow.TargetFile,'_',formatDateTime(utcnow(),'yyyyMMdd'),'.',activity('Lkp_GetTableDetails').output.firstRow.FileFormat)",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Sp_ExecSuccessAudit_BriggsAX",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy_BriggsAX_ADLS",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[dbo].[proc_UpdateAuditLog]",
										"storedProcedureParameters": {
											"AuditID": {
												"value": {
													"value": "@activity('lkp_ExecStartAuditProc').output.firstRow.AuditID",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"DataLakePath": {
												"value": {
													"value": "@concat(activity('Lkp_GetTableDetails').output.firstRow.TargetPath,'/',activity('Lkp_GetTableDetails').output.firstRow.TargetFile,'_',formatDateTime(utcnow(),'yyyyMMdd'),'.',activity('Lkp_GetTableDetails').output.firstRow.FileFormat)",
													"type": "Expression"
												},
												"type": "String"
											},
											"RowsRead": {
												"value": {
													"value": "@activity('Copy_BriggsAX_ADLS').output.RowsRead",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"Status": {
												"value": "Success",
												"type": "String"
											},
											"PipelineRunID": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureSqlDatabase1",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Sp_ExecFailureAudit_BriggsAX",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy_BriggsAX_ADLS",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[dbo].[proc_UpdateAuditLog]",
										"storedProcedureParameters": {
											"AuditID": {
												"value": {
													"value": "@activity('lkp_ExecStartAuditProc').output.firstRow.AuditID",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"DataLakePath": {
												"value": null,
												"type": "String"
											},
											"RowsRead": {
												"value": null,
												"type": "Int64"
											},
											"Status": {
												"value": "Failed",
												"type": "String"
											},
											"PipelineRunID": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureSqlDatabase1",
										"type": "LinkedServiceReference"
									}
								}
							]
						},
						{
							"value": "Briggs_MST",
							"activities": [
								{
									"name": "Copy_BriggsMST_ADLS",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "@activity('Lkp_GetTableDetails').output.firstRow.SourceQuery",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_Briggs_MST",
											"type": "DatasetReference"
										}
									],
									"outputs": [
										{
											"referenceName": "DS_ADLS_Parquet_1",
											"type": "DatasetReference",
											"parameters": {
												"ContainerName": {
													"value": "@activity('Lkp_GetTableDetails').output.firstRow.TargetContainer",
													"type": "Expression"
												},
												"Path": {
													"value": "@activity('Lkp_GetTableDetails').output.firstRow.TargetPath",
													"type": "Expression"
												},
												"FileName": {
													"value": "@concat(activity('Lkp_GetTableDetails').output.firstRow.TargetFile,'_',formatDateTime(utcnow(),'yyyyMMdd'),'.',activity('Lkp_GetTableDetails').output.firstRow.FileFormat)",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Sp_ExecSuccessAudit_BriggsMST",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy_BriggsMST_ADLS",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[dbo].[proc_UpdateAuditLog]",
										"storedProcedureParameters": {
											"AuditID": {
												"value": {
													"value": "@activity('lkp_ExecStartAuditProc').output.firstRow.AuditID",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"DataLakePath": {
												"value": {
													"value": "@concat(activity('Lkp_GetTableDetails').output.firstRow.TargetPath,'/',activity('Lkp_GetTableDetails').output.firstRow.TargetFile,'_',formatDateTime(utcnow(),'yyyyMMdd'),'.',activity('Lkp_GetTableDetails').output.firstRow.FileFormat)",
													"type": "Expression"
												},
												"type": "String"
											},
											"RowsRead": {
												"value": {
													"value": "@activity('Copy_BriggsMST_ADLS').output.RowsRead",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"Status": {
												"value": "Success",
												"type": "String"
											},
											"PipelineRunID": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureSqlDatabase1",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Sp_ExecFailureAudit_BriggsMST",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy_BriggsMST_ADLS",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[dbo].[proc_UpdateAuditLog]",
										"storedProcedureParameters": {
											"AuditID": {
												"value": {
													"value": "@activity('lkp_ExecStartAuditProc').output.firstRow.AuditID",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"DataLakePath": {
												"value": null,
												"type": "String"
											},
											"RowsRead": {
												"value": null,
												"type": "Int64"
											},
											"Status": {
												"value": "Failed",
												"type": "String"
											},
											"PipelineRunID": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureSqlDatabase1",
										"type": "LinkedServiceReference"
									}
								}
							]
						},
						{
							"value": "BIE_DATA_WAREHOUSE",
							"activities": [
								{
									"name": "Copy_BIE_DATA_WAREHOUSE_ADLS",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "@activity('Lkp_GetTableDetails').output.firstRow.SourceQuery",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_BIE_DATA_WAREHOUSE",
											"type": "DatasetReference"
										}
									],
									"outputs": [
										{
											"referenceName": "DS_ADLS_Parquet_1",
											"type": "DatasetReference",
											"parameters": {
												"ContainerName": {
													"value": "@activity('Lkp_GetTableDetails').output.firstRow.TargetContainer",
													"type": "Expression"
												},
												"Path": {
													"value": "@activity('Lkp_GetTableDetails').output.firstRow.TargetPath",
													"type": "Expression"
												},
												"FileName": {
													"value": "@concat(activity('Lkp_GetTableDetails').output.firstRow.TargetFile,'_',formatDateTime(utcnow(),'yyyyMMdd'),'.',activity('Lkp_GetTableDetails').output.firstRow.FileFormat)",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Sp_ExecSuccessAudit_BIEDATAWH",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy_BIE_DATA_WAREHOUSE_ADLS",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[dbo].[proc_UpdateAuditLog]",
										"storedProcedureParameters": {
											"AuditID": {
												"value": {
													"value": "@activity('lkp_ExecStartAuditProc').output.firstRow.AuditID",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"DataLakePath": {
												"value": {
													"value": "@concat(activity('Lkp_GetTableDetails').output.firstRow.TargetPath,'/',activity('Lkp_GetTableDetails').output.firstRow.TargetFile,'_',formatDateTime(utcnow(),'yyyyMMdd'),'.',activity('Lkp_GetTableDetails').output.firstRow.FileFormat)",
													"type": "Expression"
												},
												"type": "String"
											},
											"RowsRead": {
												"value": {
													"value": "@activity('Copy_BIE_DATA_WAREHOUSE_ADLS').output.RowsRead",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"Status": {
												"value": "Success",
												"type": "String"
											},
											"PipelineRunID": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureSqlDatabase1",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Sp_ExecFailureAudit_BIEDATAWH",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy_BIE_DATA_WAREHOUSE_ADLS",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[dbo].[proc_UpdateAuditLog]",
										"storedProcedureParameters": {
											"AuditID": {
												"value": {
													"value": "@activity('lkp_ExecStartAuditProc').output.firstRow.AuditID",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"DataLakePath": {
												"value": null,
												"type": "String"
											},
											"RowsRead": {
												"value": null,
												"type": "Int64"
											},
											"Status": {
												"value": "Failed",
												"type": "String"
											},
											"PipelineRunID": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureSqlDatabase1",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "lkp_ExecStartAuditProc",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[proc_StartAuditLog]",
						"storedProcedureParameters": {
							"ConfigTableID": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.IDValue",
									"type": "Expression"
								}
							},
							"DataFactoryName": {
								"type": "String",
								"value": {
									"value": "@pipeline().DataFactory",
									"type": "Expression"
								}
							},
							"ParentAuditID": {
								"type": "Int64",
								"value": {
									"value": "@pipeline().parameters.ParentAuditID",
									"type": "Expression"
								}
							},
							"PipelineName": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"PipelineRunID": {
								"type": "String",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"PipelineTriggerID": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerId",
									"type": "Expression"
								}
							},
							"PipelineTriggerName": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerName",
									"type": "Expression"
								}
							},
							"PipelineTriggerType": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerType",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Briggs_MDW",
						"type": "DatasetReference",
						"parameters": {
							"schema_name": "dbo",
							"table_name": "user"
						}
					}
				}
			},
			{
				"name": "Sp_ExecUpdateAudit",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Lkp_GetTableDetails",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[proc_UpdateAuditLog]",
					"storedProcedureParameters": {
						"AuditID": {
							"value": {
								"value": "@activity('lkp_ExecStartAuditProc').output.firstRow.AuditID",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"DataLakePath": {
							"value": null,
							"type": "String"
						},
						"PipelineRunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"RowsRead": {
							"value": null,
							"type": "Int64"
						},
						"Status": {
							"value": "Got MetaData",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"IDValue": {
				"type": "int"
			},
			"ParentAuditID": {
				"type": "int"
			}
		},
		"folder": {
			"name": "POR"
		},
		"annotations": [],
		"lastPublishTime": "2022-03-29T09:52:06Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}