pipeline/PL_Master_Briggs_Rental.json
{
	"name": "PL_Master_Briggs_Rental",
	"properties": {
		"activities": [
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "lkp_ExecStartAuditProc",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_Generic_Copy_Rental",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "ReportStageProc",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select  * from dbo.control_table where processsequence = 2 and enableaction = 1 and subjectarea='Report Stage Rental SP'\norder by id",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Briggs_MDW",
						"type": "DatasetReference",
						"parameters": {
							"schema_name": "dbo",
							"table_name": "user"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_Stage",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ReportStageProc",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ReportStageProc').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Stored procedure1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Start_Table_Audit_Stage",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@item().sourcetablename",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "DS_MDW_SP",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Start_Table_Audit_Stage",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[dbo].[proc_StartAuditLog_Briggs]",
									"storedProcedureParameters": {
										"ConfigTableID": {
											"type": "Int32",
											"value": {
												"value": "@item().ID",
												"type": "Expression"
											}
										},
										"DataFactoryName": {
											"type": "String",
											"value": {
												"value": "@pipeline().DataFactory",
												"type": "Expression"
											}
										},
										"ParentAuditID": {
											"type": "Int64",
											"value": {
												"value": "@item().ID",
												"type": "Expression"
											}
										},
										"PipelineName": {
											"type": "String",
											"value": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											}
										},
										"PipelineRunID": {
											"type": "String",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										},
										"PipelineTriggerID": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerId",
												"type": "Expression"
											}
										},
										"PipelineTriggerName": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerName",
												"type": "Expression"
											}
										},
										"PipelineTriggerType": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerType",
												"type": "Expression"
											}
										},
										"Sourcedb": {
											"type": "String",
											"value": {
												"value": "@item().sourceDB",
												"type": "Expression"
											}
										},
										"sourcetable": {
											"type": "String",
											"value": {
												"value": "@item().SourcetableName",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "Briggs_MDW",
									"type": "DatasetReference",
									"parameters": {
										"schema_name": "dbo",
										"table_name": "user"
									}
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "Set variable_Stage",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Stored procedure1",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "ErrorMsg",
								"value": {
									"value": "@activity('Stored procedure1').Error.Message",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Failure_Audit_Log_Stage",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Set variable_Stage",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[proc_UpdateAuditLog_Briggs]",
								"storedProcedureParameters": {
									"ConfigTableID": {
										"value": {
											"value": "@item().ID",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"RowsRead": {
										"value": null,
										"type": "Int64"
									},
									"Status": {
										"value": {
											"value": "@variables('ErrorMsg')",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "DS_MDW_SP",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Success_Audit_Log_Stage",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Stored procedure1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[proc_UpdateAuditLog_Briggs]",
								"storedProcedureParameters": {
									"ConfigTableID": {
										"value": {
											"value": "@item().ID",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"RowsRead": {
										"value": null,
										"type": "Int64"
									},
									"Status": {
										"value": "Success",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "DS_MDW_SP",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "ReportFactProc",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ForEach_Stage",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Stage_Rental_Discount",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select  * from dbo.control_table where processsequence = 4 and enableaction = 1 and subjectarea='Report Fact Rental SP'\norder by id",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Briggs_MDW",
						"type": "DatasetReference",
						"parameters": {
							"schema_name": "dbo",
							"table_name": "user"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_Fact",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ReportFactProc",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Stage_Re_Rent_PO_Tracking_Active",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ReportFactProc').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Stored procedure",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Start_Table_Audit1_Fact",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@item().sourcetablename",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "DS_MDW_SP",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Start_Table_Audit1_Fact",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[dbo].[proc_StartAuditLog_Briggs]",
									"storedProcedureParameters": {
										"ConfigTableID": {
											"type": "Int32",
											"value": {
												"value": "@item().ID",
												"type": "Expression"
											}
										},
										"DataFactoryName": {
											"type": "String",
											"value": {
												"value": "@pipeline().DataFactory",
												"type": "Expression"
											}
										},
										"ParentAuditID": {
											"type": "Int64",
											"value": {
												"value": "@item().ID",
												"type": "Expression"
											}
										},
										"PipelineName": {
											"type": "String",
											"value": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											}
										},
										"PipelineRunID": {
											"type": "String",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										},
										"PipelineTriggerID": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerId",
												"type": "Expression"
											}
										},
										"PipelineTriggerName": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerName",
												"type": "Expression"
											}
										},
										"PipelineTriggerType": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerType",
												"type": "Expression"
											}
										},
										"Sourcedb": {
											"type": "String",
											"value": {
												"value": "@item().sourceDB",
												"type": "Expression"
											}
										},
										"sourcetable": {
											"type": "String",
											"value": {
												"value": "@item().SourcetableName",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "Briggs_MDW",
									"type": "DatasetReference",
									"parameters": {
										"schema_name": "dbo",
										"table_name": "user"
									}
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "Set variable1_Fact",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Stored procedure",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "ErrorMsg",
								"value": {
									"value": "@activity('ReportStageProc').Error.Message",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Failure_Audit_Log_Fact",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Set variable1_Fact",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[proc_UpdateAuditLog_Briggs]",
								"storedProcedureParameters": {
									"ConfigTableID": {
										"value": {
											"value": "@item().ID",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"RowsRead": {
										"value": null,
										"type": "Int64"
									},
									"Status": {
										"value": {
											"value": "@variables('ErrorMsg')",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "DS_MDW_SP",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Success_Audit_Log2_Fact",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Stored procedure",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[proc_UpdateAuditLog_Briggs]",
								"storedProcedureParameters": {
									"ConfigTableID": {
										"value": {
											"value": "@item().ID",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"RowsRead": {
										"value": null,
										"type": "Int64"
									},
									"Status": {
										"value": "Success",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "DS_MDW_SP",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Stage_Rental_Discount",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "with Eq_Cost_cte(unit_num,dollars)\nas\n(\n\tselect finEq.DISPLAYVALUE,sum(a.TRANSACTIONCURRENCYAMOUNT)--,finAcct.DISPLAYVALUE\n\tfrom GENERALJOURNALACCOUNTENTRY a \n\tinner join GENERALJOURNALENTRY b on a.GENERALJOURNALENTRY = b.RECID\n\tinner join DIMENSIONATTRIBUTELEVELVALUEVIEW finEq \n\t\t\ton\tfinEq.VALUECOMBINATIONRECID = a.LEDGERDIMENSION \n\t\t\tand finEq.DIMENSIONATTRIBUTE = 5637145329\n\tinner join DIMENSIONATTRIBUTELEVELVALUEVIEW finAcct \n\t\t\ton finAcct.VALUECOMBINATIONRECID = a.LEDGERDIMENSION \n\t\t\tand finAcct.DIMENSIONATTRIBUTE = 5637144583 \n\t\t\tand finAcct.DISPLAYVALUE in ('122100','113105','113100','113107','122110','122000')\n\tgroup by finEq.DISPLAYVALUE--,finAcct.DISPLAYVALUE\n\n),Eq_Cost_UsedRental_cte(unit_num,dollars)\nas\n(\n\tselect finEq.DISPLAYVALUE,sum(a.TRANSACTIONCURRENCYAMOUNT)--,finAcct.DISPLAYVALUE\n\tfrom GENERALJOURNALACCOUNTENTRY a \n\tinner join GENERALJOURNALENTRY b on a.GENERALJOURNALENTRY = b.RECID\n\tinner join DIMENSIONATTRIBUTELEVELVALUEVIEW finEq \n\t\t\ton\tfinEq.VALUECOMBINATIONRECID = a.LEDGERDIMENSION \n\t\t\tand finEq.DIMENSIONATTRIBUTE = 5637145329\n\tinner join DIMENSIONATTRIBUTELEVELVALUEVIEW finAcct \n\t\t\ton finAcct.VALUECOMBINATIONRECID = a.LEDGERDIMENSION \n\t\t\tand finAcct.DIMENSIONATTRIBUTE = 5637144583 \n\t\t\tand finAcct.DISPLAYVALUE in ('122100','113105','113100','113107','122110')\n\twhere a.LEDGERCATEGORY = 0\n\tgroup by finEq.DISPLAYVALUE--,finAcct.DISPLAYVALUE\n\n)\n\nSELECT distinct\n\tsalesperson.[type],\n\tsalesperson.territory,\n\tsalesperson.branch,\n\tsalesperson.WorkerId worker_id,\n    isnull(salesperson.name,'*NO SALESPERSON*') 'SalesPerson1' ,\n\teq.ITEMID item_id,\n\tinvBranch.DISPLAYVALUE 'invoice_branch',\n\toc.ORDERCLASSID order_class_id,\n\tcij.INVOICEID invoice_id,\n\tfleettype.BATCHTEMPLATEID batch_template_id,\n\trenTable.rentalid rental_id,\n\tcit.LINENUM line_num,\n\trmld.INVOICEFROM invoice_from,\n\tcase when rmld.INVOICEUNTIL = dateadd(dd,0,0) then '' else rmld.INVOICEUNTIL end 'invoice_until',\n\t--rmld.STARTDATETIME,\n\t--rmld.ENDDATETIME,\n\tisl.VALIDFROM valid_from,\n\tisl.VALIDTO valid_to,\n\tdatediff(dd,isl.VALIDFROM,isl.VALIDTO) 'days_billed',\n\trt.TEMPLATEID template_id,\n\t1 'qty',\n\tcast (cit.LINEAMOUNTMST as decimal(20,2)) 'sale_price',\n\tcase \n\t\twhen fleettype.BATCHTEMPLATEID = 'Used rental' then cast(eqCostUsedRental.dollars as decimal(10,2)) \n\t\telse cast(eqCost.dollars as decimal(10,2)) \n\tEnd 'acq_cost',\n\tcit.INVOICEDATE invoice_date,\n\tsalesperson.[plan],\n\tcij.ORDERACCOUNT order_account,\n\tdirOrder.NAME 'order_cust_name',\n\tcij.INVOICEACCOUNT invoice_account,\n\tdirInvoice.NAME 'inv_cust_name',\n\teq.EQUIPMENTID equipment_id,\n\teq.INVENTSERIALID 'serial',\n\teqMake.NAME 'make',\n\teqType.TYPEID 'model',\n\tshipToAddy.zipcode,\n\tisnull(cast(case \n\t\t\t\t\t\twhen rmp.brcstatus = 2 then rrpActiveBRC.rateamount\n\t\t\t\t\t\telse rrpActive.rateamount\n\t\t\t\t\tend as decimal(10,2)),0) 'book_rate'\n\t,case \n\t\t\twhen rmp.brcstatus = 2 then 'BEST RATE CALC'\n\t\t\telse pct.NAME\n\t end 'period'\n\t ,eqBranch.DISPLAYVALUE 'eq_belongs_too'\n\t ,rmd.ESTRETURN est_return\n\t ,rct.classid class_id\nFROM [Briggs_Mst].dbo.CUSTINVOICETRANS cit\n\tINNER JOIN  [Briggs_Mst].dbo.CUSTINVOICEJOUR cij on cit.INVOICEID = cij.INVOICEID\n\tINNER JOIN [Briggs_Mst].dbo.XAP_ORDERCLASS oc on cij.ORDERCLASS = oc.RECID\n\tLEFT JOIN [briggsax].[dbo].[Commissions_SalesPeople] salesperson on cij.SALESPERSON1 = salesperson.RECID\n\tLEFT JOIN [briggsax].[dbo].[Commissions_SalesPeople] salesperson2 on cij.SALESPERSON2 = salesperson2.RECID\n\tLEFT JOIN [Briggs_Mst].dbo.XAP_INVOICESCHEDULELINE isl  on isl.RECID =cit.INVOICESCHEDULELINE\n\tLEFT JOIN [Briggs_Mst].dbo.XAP_EQUIPMENTTABLE eq on isl.EQUIPMENTID = eq.RECID\n \tLEFT JOIN [Briggs_Mst].dbo.DEFAULTDIMENSIONVIEW eqBranch on eqBranch.DEFAULTDIMENSION = eq.DEFAULTDIMENSION and eqBranch.DIMENSIONATTRIBUTEID = 5637145333\n\t\tLEFT JOIN [Briggs_Mst].dbo.XAP_MACHINETYPE eqType on  eq.MACHINETYPE = eqType.RECID\n\t\tLEFT JOIN [Briggs_Mst].dbo.XAP_MACHINEMANUFACTURER eqMake on eqType.MACHINEMANUFACTURER = eqMake.RECID\n\t\tLEFT join [Briggs_Mst].dbo.XAP_FLEETBATCHRELATION fleettype on fleettype.FLEETTYPE = eq.FLEETTYPE and fleettype.DATAAREAID = cit.DATAAREAID\n\tLEFT JOIN [Briggs_Mst].dbo.PURCHLINE on eq.EQUIPMENTID = PURCHLINE.EQUIPMENTID\n\tLEFT JOIN [Briggs_Mst].dbo.XAP_RENREVENUECATEGORYTABLE renrev on cit.SALESCATEGORY = renrev.SALESCATEGORY\n\tLEFT JOIN [Briggs_Mst].dbo.inventdim invdim on invdim.INVENTDIMID = cit.INVENTDIMID\n\tLEFT JOIN [briggsax].dbo.commission_rates comRates on comRates.item_number = eq.ITEMID \n\t\t\t\t\t\t\t\t\t\t\tand comRates.fleet_type = fleettype.BATCHTEMPLATEID\n\t\t\t\t\t\t\t\t\t\t\tand comRates.orderclass = oc.ORDERCLASSID \n\t\t\t\t\t\t\t\t\t\t\tand comRates.[plan] = salesperson.[plan]\n\tLEFT JOIN [Briggs_Mst].dbo.XAP_RENMAINLINE renLine on renLine.RECID = isl.RENMAINLINE\n\tLEFT JOIN [Briggs_Mst].dbo.XAP_RENMAINTABLE renTable on renline.MAINTABLEREFRECID = renTable.RECID\n\tLEFT JOIN [Briggs_Mst].dbo.DEFAULTDIMENSIONVIEW invBranch on invBranch.DEFAULTDIMENSION = renTable.DIMENSION and invBranch.DIMENSIONATTRIBUTEID = 5637145333\n\n\tLEFT JOIN [Briggs_Mst].dbo.custtable cusOrder on cij.ORDERACCOUNT = cusOrder.accountnum\n\tLEFT JOIN [Briggs_Mst].dbo.custtable cusInvoice on cij.INVOICEACCOUNT = cusInvoice.accountnum\n\tLEFT JOIN [Briggs_Mst].dbo.DIRPARTYTABLE dirOrder on cusOrder.PARTY = dirOrder.RECID\n\tLEFT JOIN [Briggs_Mst].dbo.DIRPARTYTABLE dirInvoice on cusInvoice.PARTY = dirInvoice.RECID\n\tleft join [Briggs_Mst].dbo.LOGISTICSPOSTALADDRESS shipToAddy on shipToAddy.RECID = cij.DELIVERYPOSTALADDRESS \n\tleft join [Briggs_mst].dbo.XAP_RENMAINLINEINVOICEINFO renLineInf on renLineInf.MAINLINEREFRECID = renline.RECID\n\tleft join [Briggs_mst].dbo.XAP_EQUIPMENTTRADEINFO eqTrade on eqTrade.EQUIPMENT = eq.RECID\n\tleft join [Briggs_mst].dbo.XAP_RENCLASSTABLE rct on rct.RECID = eqTrade.DEFAULTCLASS\n\tleft join [Briggs_mst].dbo.xap_renmainprice rmp on rmp.recid = isl.renmainprice\n\tleft join [Briggs_mst].dbo.XAP_RenBestRateCalculator rbrc on rbrc.line = renline.recid\n\tleft join [Briggs_mst].dbo.XAP_RENMAINLINEDATE rmld on rmld.MAINLINEREFRECID = renLine.RECID\n\tleft join [Briggs_mst].dbo.XAP_RENRATECONFIG rrc4 on rrc4.ACCOUNTRELATION = '' and rrc4.APPLICATION = renLineInf.APPLICATION and rrc4.SHIFT = renLineInf.SHIFT and rrc4.STORE = renLineInf.STORE and rrc4.CLASSRELATION = rct.CLASSID and rrc4.DIVISION = 0 and rrc4.TYPE = 0 and rrc4.ACCOUNTCODE = 2 and rrc4.CLASSCODE = 0\n\tleft join [Briggs_mst].dbo.XAP_RENRATEPRICE rrp4M on rrp4M.RATECONFIG = rrc4.RECID  and rrp4M.PERIOD = 5637144578\n\tleft join [Briggs_mst].dbo.XAP_RENRATEPRICE rrp4M2 on rrp4M2.RATECONFIG = rrc4.RECID  and rrp4M2.PERIOD = 5637144579\n\tleft join [Briggs_mst].dbo.XAP_RENRATEPRICE rrp4D on rrp4D.RATECONFIG = rrc4.RECID and rrp4D.PERIOD = 5637146076\n\tleft join [Briggs_mst].dbo.XAP_RENRATEPRICE rrp4W on rrp4W.RATECONFIG = rrc4.RECID and rrp4W.PERIOD = 5637146077\n\tleft join [Briggs_mst].dbo.XAP_RENRATEPRICE rrp4O on rrp4O.RATECONFIG = rrc4.RECID and rrp4O.PERIOD = 5637144582\n\tleft join [Briggs_mst].dbo.XAP_RENRATEPRICE rrpActive on rrpActive.RATECONFIG = rrc4.RECID and rrpActive.PERIOD = rmp.PERIOD\n\tleft join [Briggs_mst].dbo.XAP_RENRATEPRICE rrpActiveBRC on rrpActiveBRC.RATECONFIG = rrc4.RECID and rrpActiveBRC.PERIOD = case \n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\twhen rbrc.[MONTHS] <> 0 then 5637144578\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\twhen rbrc.[WEEKS] <> 0 then 5637146077\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\twhen rbrc.[DAYS] <> 0 then 5637146076\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t  end \n\tleft join [Briggs_mst].dbo.XAP_PERIODCODETABLE pct on pct.RECID = rrpActive.PERIOD\n\tLEFT JOIN Eq_Cost_cte eqCost on eq.EQUIPMENTID = eqCost.unit_num\n\tLEFT JOIN Eq_Cost_UsedRental_cte  eqCostUsedRental on eq.EQUIPMENTID = eqCostUsedRental.unit_num\n\tleft join XAP_RenTemplate rt on rt.RECID = renTable.RENTALTEMPLATE\n\tleft join XAP_RenMainDate rmd on rmd.MAINTABLEREFRECID = renTable.RECID\n\twhere oc.ORDERCLASSID = 'RENTAL' \n\tand eq.EQUIPMENTID is not null\n\tand cij.INVOICEID <>''\n\tand cij.INVOICEID like 'INV%'\n\tand fleettype.BATCHTEMPLATEID <> 're-rent'\n\tand fleettype.BATCHTEMPLATEID <> 'lease'\n\tand year(cit.invoicedate)>='2020'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "truncate table briggs.Stage_Rental_Discount",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "type",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "type",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "territory",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "territory",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "branch",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "branch",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "worker_id",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "worker_id",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SalesPerson1",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SalesPerson1",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "item_id",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "item_id",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "invoice_branch",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "invoice_branch",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "order_class_id",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "order_class_id",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "invoice_id",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "invoice_id",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "batch_template_id",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "batch_template_id",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "rental_id",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "rental_id",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "line_num",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 16,
									"precision": 32
								},
								"sink": {
									"name": "line_num",
									"type": "Decimal",
									"physicalType": "Decimal"
								}
							},
							{
								"source": {
									"name": "invoice_from",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "invoice_from",
									"type": "DateTime",
									"physicalType": "DateTime"
								}
							},
							{
								"source": {
									"name": "invoice_until",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "invoice_until",
									"type": "DateTime",
									"physicalType": "DateTime"
								}
							},
							{
								"source": {
									"name": "valid_from",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "valid_from",
									"type": "DateTime",
									"physicalType": "DateTime"
								}
							},
							{
								"source": {
									"name": "valid_to",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "valid_to",
									"type": "DateTime",
									"physicalType": "DateTime"
								}
							},
							{
								"source": {
									"name": "days_billed",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "days_billed",
									"type": "Int32",
									"physicalType": "Int32"
								}
							},
							{
								"source": {
									"name": "template_id",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "template_id",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "qty",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "qty",
									"type": "Int32",
									"physicalType": "Int32"
								}
							},
							{
								"source": {
									"name": "sale_price",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 20
								},
								"sink": {
									"name": "sale_price",
									"type": "Decimal",
									"physicalType": "Decimal"
								}
							},
							{
								"source": {
									"name": "acq_cost",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 10
								},
								"sink": {
									"name": "acq_cost",
									"type": "Decimal",
									"physicalType": "Decimal"
								}
							},
							{
								"source": {
									"name": "invoice_date",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "invoice_date",
									"type": "DateTime",
									"physicalType": "DateTime"
								}
							},
							{
								"source": {
									"name": "plan",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "plan",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "order_account",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "order_account",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "order_cust_name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "order_cust_name",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "invoice_account",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "invoice_account",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "inv_cust_name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "inv_cust_name",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "equipment_id",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "equipment_id",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "serial",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "serial",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "make",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "make",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "model",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "model",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "zipcode",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "zipcode",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "book_rate",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 10
								},
								"sink": {
									"name": "book_rate",
									"type": "Decimal",
									"physicalType": "Decimal"
								}
							},
							{
								"source": {
									"name": "period",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "period",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "eq_belongs_too",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "eq_belongs_too",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "est_return",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "est_return",
									"type": "DateTime",
									"physicalType": "DateTime"
								}
							},
							{
								"source": {
									"name": "class_id",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "class_id",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Briggs_MST",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Briggs_MDW",
						"type": "DatasetReference",
						"parameters": {
							"schema_name": "Briggs",
							"table_name": "Stage_Rental_Discount"
						}
					}
				]
			},
			{
				"name": "Stage_Re_Rent_PO_Tracking_Active",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "if object_id('tempdb..#ttable2') is not null \ndrop \n  table #ttable2\n  if object_id('tempdb..#temp1') is not null \ndrop \n  table #temp1\n  if object_id('tempdb..#temp2') is not null \ndrop \n  table #temp2\n  if object_id('tempdb..#temp3') is not null \ndrop \n  table #temp3\nselect \n  id.inventequipmentid, \n  vpj.purchid, \n  vpj.deliverydate, \n  month(vpj.deliverydate) 'month', \n  year(vpj.deliverydate) 'year' into #temp1\nfrom \n  dbo.vendpackingsliptrans vpt \n  inner join dbo.vendpackingslipjour vpj on vpt.vendpackingslipjour = vpj.recid \n  and vpj.dataareaid = 'brg' \n  and vpj.partition = 5637144576 \n  inner join dbo.inventdim id on id.inventdimid = vpt.inventdimid \n  and id.dataareaid = 'brg' \n  and id.partition = 5637144576 \nwhere \n  vpt.dataareaid = 'brg' \n  and vpt.partition = 5637144576 \n  and id.inventequipmentid <> '' \n  create clustered index ix_purchid on #temp1 (purchid,inventequipmentid);\nselect \n  vij.purchid, \n  id.inventequipmentid, \n  vij.invoicedate, \n  vij.ledgervoucher, \n  vit.lineamount into #temp2\nfrom \n  dbo.vendinvoicejour vij \n  inner join dbo.vendinvoicetrans vit on vit.invoiceid = vij.invoiceid \n  and vit.createddatetime = vit.createddatetime \n  and vit.dataareaid = 'brg' \n  and vit.partition = 5637144576 \n  left join dbo.inventdim id on vit.inventdimid = id.inventdimid \n  and id.dataareaid = 'brg' \n  and id.partition = 5637144576 \nwhere \n  vij.dataareaid = 'brg' \n  and vij.partition = 5637144576 \n  and id.inventequipmentid <> '' \n  create clustered index ix_purchid on #temp2 (purchid,inventequipmentid);\nselect \n  id.inventequipmentid, \n  vpj.purchid, \n  max(vpj.deliverydate) 'lastdate', \n  count(*) 'count' into #temp3\nfrom \n  dbo.vendpackingsliptrans vpt \n  inner join dbo.vendpackingslipjour vpj on vpt.vendpackingslipjour = vpj.recid \n  and vpj.dataareaid = 'brg' \n  and vpj.partition = 5637144576 \n  inner join dbo.inventdim id on id.inventdimid = vpt.inventdimid \n  and id.dataareaid = 'brg' \n  and id.partition = 5637144576 \nwhere \n  vpt.dataareaid = 'brg' \n  and vpt.partition = 5637144576 \n  and id.inventequipmentid <> '' \n  and vpj.deliverydate between dateadd(\n    month, \n    datediff(\n      month, \n      0, \n      getdate()\n    ), \n    0\n  ) \n  and getdate() \ngroup by \n  id.inventequipmentid, \n  vpj.purchid \n  create clustered index ix_purchid on #temp3 (purchid,inventequipmentid);\nselect \n  * into #ttable2 \nfrom \n  (\n    select \n      id.inventlocationid, \n      id.inventequipmentid, \n      rmt.rentalid, \n      pt.purchid, \n      pt.invoiceaccount + ' - ' + pt.purchname as 'invoiceaccount', \n      pt.orderaccount + ' - ' + pt.deliveryname as 'vendoraccount' --,dbo.enum2str('versioningdocumentstate', pt.documentstate) 'approval status'\n      --,dbo.enum2str('purchstatus', pl.purchstatus)  'purchstatus'\n      , \n      ds.[approvalstatus] 'approval status', \n      ps.purchstatus, \n      pl.createddatetime, \n      t1.deliverydate, \n      t2.invoicedate, \n      t2.ledgervoucher, \n      dir.name, \n      t2.lineamount 'total amount', \n      pl.createdby, \n      pl.lineamount, \n      t1.month, \n      t1.year, \n      t3.count 'reciept count', \n      t3.lastdate 'last reciept date' \n    from \n      dbo.purchline pl \n      left join dbo.purchtable pt on pl.purchid = pt.purchid \n      and pt.dataareaid = 'brg' \n      and pt.partition = 5637144576 \n      left join dbo.inventdim id on pl.inventdimid = id.inventdimid \n      and id.dataareaid = 'brg' \n      and id.partition = 5637144576 \n      left join dbo.xap_renmaintable rmt on rmt.recid = pt.renmaintable \n      and rmt.dataareaid = 'brg' \n      and rmt.partition = 5637144576 \n      left join #temp1 t1 on t1.inventequipmentid = id.inventequipmentid and pt.purchid = t1.purchid \n      left join #temp2 t2 on t2.inventequipmentid = id.inventequipmentid and t2.purchid = pt.purchid\n      left join #temp3 t3 on t3.inventequipmentid = id.inventequipmentid and t3.purchid = pt.purchid\n      left join dbo.hcmworker wrker on wrker.recid = pt.workerpurchplacer \n      and wrker.partition = 5637144576 \n      left join dirpartytable dir on dir.recid = wrker.person \n      left join briggsAX.dbo.[ref_documentstate] ds on ds.documentstateid = pt.documentstate \n      left join briggsAX.dbo.[ref_purchstatus] ps on ps.purchstatusid = pl.purchstatus \n    where \n      pl.dataareaid = 'brg' \n      and pl.partition = 5637144576 \n      and pl.itemid = 'eqrerentcost'\n  ) a \n  create clustered index ix_rentalid on #ttable2 (rentalid,inventequipmentid);\n\n\nselect \n  distinct rmt.inventlocation invent_location, \n  ddveq.displayvalue eq_belongs_to, \n  ddvcontract.displayvalue contract_belongs_to, \n  rt.templateid template_id, \n  rmt.rentalid rental_id --  ,dbo.enum2str('xap_rencontractstatus', rmt.contractstatus) 'contract status'\n  , \n  cs.contractstatus contract_status, \n  ct.accountnum 'rent_account', \n  dir.name 'rent_account_name', \n  ct2.accountnum 'invoice_account#', \n  dir2.name 'invoice_account_name', \n  rmld.startdatetime contract_state_date, \n  rmld.enddatetime contract_end_date, \n  rmld.estreturn contract_est_return_date, \n  eq.equipmentid equipment_id, \n  eq.inventserialid invent_serial_id --  ,dbo.enum2str('xap_renmainlinestatus', rml.linestatus) 'line status'\n  , \n  ls.linestatus 'line_status', \n  make.[manufacturerid] 'make', \n  model.typeid 'model', \n  fleet.batchtemplateid 'fleet_type', \n  rct.classid 'rental_class', \n  datediff(\n    dd, \n    rmld.startdatetime, \n    getdate()\n  ) 'days_open', \n  csp.salesmancode salesman_code, \n  spdir.name 'salesperson', \n  case when pctactive.periodid = 'brc' then 'brc (' + cast(\n    rbrc.days as varchar(10)\n  ) + ' days, ' + cast(\n    rbrc.weeks as varchar(10)\n  ) + ' weeks, ' + cast(\n    rbrc.months as varchar(10)\n  ) + ' months)' else pctactive.periodid end 'period_id', \n  rim.invmethodid inv_method_id, \n  rmpday.amount actuals_day, \n  rmpweek.amount actuals_week, \n  rmpmonth.amount actuals_month --,rrpday.rateamount 'book day'\n  --,rrpweek.rateamount 'book week'\n  --,rrpmonth.rateamount 'book month'\n  , \n  case when pctactive.periodid = 'brc' then (rbrc.days * rbrc.dailyrate) + (rbrc.weeks * rbrc.weeklyrate) + (rbrc.months * rbrc.monthlyrate) else case when pctactive.periodid = 'daily' then rmpday.amount when pctactive.periodid = 'weekly' then rmpweek.amount else rmpmonth.amount end end actual_used --,case when pctactive.periodid = 'brc' then (rbrc.days * rrpday.rateamount) + (rbrc.weeks * rrpweek.rateamount) + (rbrc.months * rrpmonth.rateamount) \n  --  else case \n  --      when pctactive.periodid = 'daily' then rrpday.rateamount\n  --      when pctactive.periodid = 'weekly' then rrpweek.rateamount\n  --      else rrpmonth.rateamount\n  --     end\n  --end 'book used'\n  , \n  case when reneq.classtable <> eqtrade.defaultclass then 'yes' else 'no' end 'substitution', \n  tt.inventlocationid po_invent_location_id, \n  tt.inventequipmentid po_invent_equipment_id, \n  tt.rentalid po_rental_id, \n  tt.purchid 'po_purch_id', \n  tt.invoiceaccount po_invoice_account, \n  tt.vendoraccount po_vendor_account, \n  tt.[approval status] po_approval_status, \n  tt.purchstatus po_purch_status, \n  tt.createddatetime po_created_date_time, \n  tt.deliverydate po_delivery_date, \n  tt.invoicedate po_invoice_date, \n  tt.ledgervoucher po_ledger_voucher, \n  tt.name po_name, \n  tt.[total amount] po_total_amount, \n  tt.createdby po_created_by, \n  tt.lineamount po_line_amount, \n  tt.[reciept count] receipt_count, \n  tt.[last reciept date] reciept_last, \n  case when tt.lineamount is not null then (\n    case when pctactive.periodid = 'brc' then (rbrc.days * rbrc.dailyrate) + (rbrc.weeks * rbrc.weeklyrate) + (rbrc.months * rbrc.monthlyrate) else case when pctactive.periodid = 'daily' then rmpday.amount when pctactive.periodid = 'weekly' then rmpweek.amount else rmpmonth.amount end end - tt.lineamount\n  ) end amount1, \n  case when pctactive.periodid = 'brc' then nullif(\n    (rbrc.days * rbrc.dailyrate) + (rbrc.weeks * rbrc.weeklyrate) + (rbrc.months * rbrc.monthlyrate), \n    0\n  ) else case when pctactive.periodid = 'daily' then nullif(rmpday.amount, 0) when pctactive.periodid = 'weekly' then nullif(rmpweek.amount, 0) else nullif(rmpmonth.amount, 0) end end amount2, \n  reneq.askingprice asking_price, \n  reneq.classtable class_table, \n  reneq.closedby closed_by, \n  reneq.closeddatetime closed_date_time, \n  reneq.closeddatetimetzid closed_date_time_tzid, \n  reneq.deliverydate delivery_date, \n  reneq.enddatetime end_date_time, \n  reneq.enddatetimetzid end_date_time_tzid, \n  reneq.endfuel end_fuel, \n  reneq.endsmu end_smu, \n  reneq.equipment equipment, \n  reneq.estreturn est_return, \n  reneq.invoicefrom invoice_from, \n  reneq.invoiceuntil invoice_until, \n  reneq.mainline main_line, \n  reneq.maintable main_table, \n  reneq.pickupdate pickup_date, \n  reneq.primeproduct prime_product, \n  reneq.reservation, \n  reneq.revenuepct revenue_pct, \n  reneq.startdatetime start_date_time, \n  reneq.startdatetimetzid start_date_time_tzid, \n  reneq.startfuel start_fuel, \n  reneq.startsmu start_smu, \n  reneq.[status], \n  reneq.replacedeqonmainline replaced_eq_on_mainline, \n  reneq.revsplitforswappedeq [rev_split_for_swapped_eq], \n  reneq.maintype main_type, \n  reneq.createddatetime created_date_time, \n  reneq.createdby created_by, \n  reneq.dataareaid data_area_id, \n  reneq.recversion rec_version, \n  reneq.[partition], \n  reneq.recid rec_id \nfrom \n  dbo.xap_renmainline rml \n  left join dbo.xap_renmaintable rmt on rml.maintablerefrecid = rmt.recid \n  and rmt.dataareaid = 'brg' \n  and rmt.partition = 5637144576 \n  inner join dbo.xap_reneqonmainline reneq on reneq.mainline = rml.recid \n  and reneq.dataareaid = 'brg' \n  and reneq.partition = 5637144576 \n  inner join dbo.xap_equipmenttable eq on eq.recid = reneq.equipment \n  and eq.dataareaid = 'brg' \n  and eq.partition = 5637144576 \n  left join dbo.xap_equipmenttradeinfo eqtrade on eqtrade.equipment = eq.recid \n  and eqtrade.dataareaid = 'brg' \n  and eqtrade.partition = 5637144576 \n  left join dbo.xap_renmainprice rmpday on rmpday.mainlinerefrecid = rml.recid \n  and rmpday.period = 5637146076 \n  and rmpday.dataareaid = 'brg' \n  and rmpday.partition = 5637144576 \n  left join dbo.xap_renmainprice rmpweek on rmpweek.mainlinerefrecid = rml.recid \n  and rmpweek.period = 5637146077 \n  and rmpweek.dataareaid = 'brg' \n  and rmpweek.partition = 5637144576 \n  left join dbo.xap_renmainprice rmpmonth on rmpmonth.mainlinerefrecid = rml.recid \n  and rmpmonth.period = 5637144578 \n  and rmpmonth.dataareaid = 'brg' \n  and rmpmonth.partition = 5637144576 \n  left join dbo.xap_renmainlineinvoiceinfo rmlii on rmlii.mainlinerefrecid = rml.recid \n  and rmlii.dataareaid = 'brg' \n  and rmlii.partition = 5637144576 \n  left join dbo.xap_renclasstable rct on rct.recid = eqtrade.defaultclass \n  and rct.dataareaid = 'brg' \n  and rct.partition = 5637144576 \n  left join dbo.xap_renrateconfig rrc on rrc.application = rmlii.application \n  and rrc.shift = rmlii.shift \n  and rrc.store = rmlii.store \n  and rrc.classrelation = rct.classid \n  left join dbo.xap_renrateprice rrpday on rrpday.rateconfig = rrc.recid \n  and rrpday.period = 5637146076 \n  and rrpday.dataareaid = 'brg' \n  and rrpday.partition = 5637144576 \n  left join dbo.xap_renrateprice rrpweek on rrpweek.rateconfig = rrc.recid \n  and rrpweek.period = 5637146077 \n  and rrpweek.dataareaid = 'brg' \n  and rrpweek.partition = 5637144576 \n  left join dbo.xap_renrateprice rrpmonth on rrpmonth.rateconfig = rrc.recid \n  and rrpmonth.period = 5637144578 \n  and rrpmonth.dataareaid = 'brg' \n  and rrpmonth.partition = 5637144576 \n  left join dbo.defaultdimensionview ddveq on ddveq.defaultdimension = eq.defaultdimension \n  and ddveq.dimensionattributeid = 5637145333 \n  left join dbo.defaultdimensionview ddvcontract on ddvcontract.defaultdimension = rmt.dimension \n  and ddvcontract.dimensionattributeid = 5637145333 \n  left join dbo.xap_fleetbatchrelation fleet on eq.fleettype = fleet.fleettype \n  and fleet.dataareaid = 'brg' \n  left join dbo.xap_renmainlinedate rmld on rmld.mainlinerefrecid = rml.recid \n  and rmld.dataareaid = 'brg' \n  and rmld.partition = 5637144576 \n  left join dbo.custtable ct on rmt.custaccount = ct.accountnum \n  and ct.dataareaid = 'brg' \n  and ct.partition = 5637144576 \n  left join dbo.custtable ct2 on rmt.invoiceaccount = ct2.accountnum \n  and ct2.dataareaid = 'brg' \n  and ct2.partition = 5637144576 \n  left join dbo.dirpartytable dir on dir.recid = ct.party \n  and dir.partition = 5637144576 \n  left join dbo.dirpartytable dir2 on dir2.recid = ct2.party \n  left join dbo.xap_renmaincontactinfo rmci on rmci.maintablerefrecid = rmt.recid \n  and rmci.dataareaid = 'brg' \n  and rmci.partition = 5637144576 \n  left join dbo.xap_crmsalesperson csp on csp.recid = rmci.salesrep1 \n  and csp.dataareaid = 'brg' \n  and csp.partition = 5637144576 \n  left join dbo.hcmworker wrker on csp.worker = wrker.recid \n  and wrker.partition = 5637144576 \n  left join dbo.dirpartytable spdir on spdir.recid = wrker.person \n  left join dbo.xap_renmainprice rmpactive on rmpactive.mainlinerefrecid = rml.recid \n  and rmpactive.invoicestatus in (0, 2) \n  left join dbo.xap_periodcodetable pctactive on pctactive.recid = rmpactive.period \n  and pctactive.dataareaid = 'brg' \n  and pctactive.partition = 5637144576 \n  left join dbo.xap_rentemplate rt on rt.recid = rmt.rentaltemplate \n  and rt.dataareaid = 'brg' \n  and rt.partition = 5637144576 \n  left join dbo.xap_reninvoicemethod rim on rim.recid = rt.invmethod \n  and rim.dataareaid = 'brg' \n  and rim.partition = 5637144576 \n  left join dbo.[xap_machinetype] model on model.recid = eq.machinetype \n  and model.dataareaid = 'brg' \n  and model.partition = 5637144576 \n  left join dbo.[xap_machinemanufacturer] make on make.recid = model.[machinemanufacturer] \n  and make.dataareaid = 'brg' \n  and make.partition = 5637144576 \n  left join dbo.xap_renbestratecalculator rbrc on rbrc.line = rml.recid \n  and rbrc.dataareaid = 'brg' \n  and rbrc.partition = 5637144576 \n  left join #ttable2 tt on tt.inventequipmentid = eq.equipmentid and tt.rentalid = rmt.rentalid\n  left join briggsAX.dbo.[ref_linestatus] ls on ls.linestatusid = rml.linestatus \n  left join briggsAX.dbo.ref_contractstatus cs on cs.contractstatusid = rmt.contractstatus \nwhere \n  rml.dataareaid = 'brg' \n  and rml.partition = 5637144576 --and rmt.inventlocation in (@branch)\n  and rmt.contractstatus in (0, 1, 9) \n  and rml.linestatus = 0 \n  and reneq.[status] = 0 \n  and eq.fleettype = 8 --and rmt.rentalid= 'str000189'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "Truncate table Briggs.Stage_Re_Rent_PO_Tracking_Active",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Briggs_MST",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Briggs_MDW",
						"type": "DatasetReference",
						"parameters": {
							"schema_name": "Briggs",
							"table_name": "Stage_Re_Rent_PO_Tracking_Active"
						}
					}
				]
			},
			{
				"name": "Sp_ExecFailureAudit_Fact",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ForEach_Fact",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[proc_UpdateAuditLog]",
					"storedProcedureParameters": {
						"AuditID": {
							"value": {
								"value": "@activity('lkp_ExecStartAuditProc').output.firstRow.AuditID",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"DataLakePath": {
							"value": null,
							"type": "String"
						},
						"PipelineRunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"RowsRead": {
							"value": null,
							"type": "Int64"
						},
						"Status": {
							"value": "Fact Proc Failed",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Sp_ExecSuccessAudit",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ForEach_Fact",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[proc_UpdateAuditLog]",
					"storedProcedureParameters": {
						"AuditID": {
							"value": {
								"value": "@activity('lkp_ExecStartAuditProc').output.firstRow.AuditID",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"DataLakePath": {
							"value": null,
							"type": "String"
						},
						"RowsRead": {
							"value": null,
							"type": "Int64"
						},
						"Status": {
							"value": "Success",
							"type": "String"
						},
						"PipelineRunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "lkp_ExecStartAuditProc",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[proc_StartAuditLog]",
						"storedProcedureParameters": {
							"ConfigTableID": {
								"type": "Int32",
								"value": "-1"
							},
							"DataFactoryName": {
								"type": "String",
								"value": {
									"value": "@pipeline().DataFactory",
									"type": "Expression"
								}
							},
							"ParentAuditID": {
								"type": "Int64",
								"value": "-1"
							},
							"PipelineName": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"PipelineRunID": {
								"type": "String",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"PipelineTriggerID": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerId",
									"type": "Expression"
								}
							},
							"PipelineTriggerName": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerName",
									"type": "Expression"
								}
							},
							"PipelineTriggerType": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerType",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Briggs_MDW",
						"type": "DatasetReference",
						"parameters": {
							"schema_name": "dbo",
							"table_name": "user"
						}
					}
				}
			},
			{
				"name": "Sp_ExecFailureAudit_Stage",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ForEach_Stage",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[proc_UpdateAuditLog]",
					"storedProcedureParameters": {
						"AuditID": {
							"value": {
								"value": "@activity('lkp_ExecStartAuditProc').output.firstRow.AuditID",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"DataLakePath": {
							"value": null,
							"type": "String"
						},
						"PipelineRunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"RowsRead": {
							"value": null,
							"type": "Int64"
						},
						"Status": {
							"value": "Stage Proc Failed",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Sp_ExecFailureAudit_TL",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[proc_UpdateAuditLog]",
					"storedProcedureParameters": {
						"AuditID": {
							"value": {
								"value": "@activity('lkp_ExecStartAuditProc').output.firstRow.AuditID",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"DataLakePath": {
							"value": null,
							"type": "String"
						},
						"PipelineRunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"RowsRead": {
							"value": null,
							"type": "Int64"
						},
						"Status": {
							"value": "Table Load Failed",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"ErrorMsg": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Briggs Data Load Theme wise"
		},
		"annotations": [],
		"lastPublishTime": "2022-05-02T13:11:04Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}