pipeline/PL_Master_Briggs_Billing.json
{
	"name": "PL_Master_Briggs_Billing",
	"properties": {
		"activities": [
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_Generic_Copy_Billing",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "ReportStageProc",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select  * from dbo.control_table where processsequence = 2 and enableaction = 1 \nand subjectarea='Report Stage Billing SP'\norder by id",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Briggs_MDW",
						"type": "DatasetReference",
						"parameters": {
							"schema_name": "dbo",
							"table_name": "user"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_Stage",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ReportStageProc",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ReportStageProc').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Stored procedure1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@item().sourcetablename",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "DS_MDW_SP",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "ReportFactProc",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ForEach_Stage",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Stage_SSG_Billing",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select  * from dbo.control_table where processsequence = 4 and enableaction = 1 \nand subjectarea='Report Fact Billing SP'\norder by id",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Briggs_MDW",
						"type": "DatasetReference",
						"parameters": {
							"schema_name": "dbo",
							"table_name": "user"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_Fact",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ReportFactProc",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ReportFactProc').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Stored procedure",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@item().sourcetablename",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "DS_MDW_SP",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Stage_SSG_Billing",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select projinvoiceid proj_invoice_id\n              ,a.projid proj_id\n              ,a.ponumber po_number\n              ,a.invoiceaccount invoice_account\n\t\t\t  ,a.invoicingname invoicing_name\n\t\t\t  ,a.orderaccount order_account\n\t\t\t  ,a.deliveryname delivery_name\n              ,a.invoicedate invoice_date\n              ,a.invoiceamount invoice_amount\n              ,hcm.name \n              ,a.createddatetime created_date_time\n\t\t\t,dateadd(hh,-6,a.createddatetime) 'cst_time'\n              ,oc.orderclassid order_class_id\n\t\t\t  ,b.custgroup cust_group\n\t\t\t  ,a.svcinventlocationid svc_invent_location_id\n\t\t\t  ,hcmworkertitle.officelocation office_location\nfrom projinvoicejour a\nleft join custtable b on a.invoiceaccount = b.accountnum\ninner join custtrans ct on ct.invoice = a.projinvoiceid and ct.accountnum = a.invoiceaccount\nleft join hcmworkerdetailsview hcm on ct.approver = hcm.recid\nleft join xap_orderclass oc on ct.orderclass = oc.recid\nleft join hcmworkertitle on hcm.recid= hcmworkertitle.worker and [briggs_mst].dbo.utc2central( hcmworkertitle.validto) > getdate()\nwhere a.projinvoiceid <> ''\nand oc.orderclassid = 'SERVICE'\nand a.svcinventlocationid like 'P%'\nand year(invoicedate)>='2020'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "truncate table briggs.Stage_SSG_Billing",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "proj_invoice_id",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "proj_invoice_id",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "proj_id",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "proj_id",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "po_number",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "po_number",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "invoice_account",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "invoice_account",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "invoicing_name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "invoicing_name",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "order_account",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "order_account",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "delivery_name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "delivery_name",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "invoice_date",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "invoice_date",
									"type": "DateTime",
									"physicalType": "DateTime"
								}
							},
							{
								"source": {
									"name": "invoice_amount",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 16,
									"precision": 32
								},
								"sink": {
									"name": "invoice_amount",
									"type": "Decimal",
									"physicalType": "Decimal"
								}
							},
							{
								"source": {
									"name": "name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "name",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "created_date_time",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "created_date_time",
									"type": "DateTime",
									"physicalType": "DateTime"
								}
							},
							{
								"source": {
									"name": "cst_time",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "cst_time",
									"type": "DateTime",
									"physicalType": "DateTime"
								}
							},
							{
								"source": {
									"name": "order_class_id",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "order_class_id",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "cust_group",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "cust_group",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "svc_invent_location_id",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "svc_invent_location_id",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "office_location",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "office_location",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Briggs_MST",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Briggs_MDW",
						"type": "DatasetReference",
						"parameters": {
							"schema_name": "Briggs",
							"table_name": "Stage_SSG_Billing"
						}
					}
				]
			}
		],
		"folder": {
			"name": "Briggs Data Load Theme wise"
		},
		"annotations": [],
		"lastPublishTime": "2022-02-15T07:14:32Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}