pipeline/PL_Master_Netsuite_Source1.json
{
	"name": "PL_Master_Netsuite_Source1",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "lkp_ExecStartAuditProc",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select top 5 * from dbo.control_table_por where sourcedb='Netsuite'  and enableaction=1\nand (last_refresh_date is null or format(last_refresh_date,'dd-MM-yyyy')<>format(getdate(),'dd-MM-yyyy'))\norder by id",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Briggs_MDW",
						"type": "DatasetReference",
						"parameters": {
							"schema_name": "dbo",
							"table_name": "user"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Table Load",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Start_Table_Audit1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "OdbcSource",
									"query": {
										"value": "@activity('Lookup2').output.firstRow.SourceQuery",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": {
										"value": "@{concat('truncate table ',activity('Lookup2').output.firstRow.TargetStageTableSchema,'.',activity('Lookup2').output.firstRow.TargetStageTableName)}",
										"type": "Expression"
									},
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "OdbcTable1",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "Briggs_MDW",
									"type": "DatasetReference",
									"parameters": {
										"schema_name": {
											"value": "@activity('Lookup2').output.firstRow.TargetStageTableSchema",
											"type": "Expression"
										},
										"table_name": {
											"value": "@activity('Lookup2').output.firstRow.TargetStageTableName",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Lookup2",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat('Select Distinct SourceDB , SourceQuery = ''Select ''+ColumnList+'' From ''+SourceTableName, TargetContainer, TargetPath, TargetFile, FileFormat,TargetStageTableSchema,\tTargetStageTableName\nFrom [dbo].[control_table_por]\nWhere ID = ',item().ID)",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "Briggs_MDW",
									"type": "DatasetReference",
									"parameters": {
										"schema_name": "dbo",
										"table_name": "user"
									}
								},
								"firstRowOnly": true
							}
						},
						{
							"name": "Copy data_New",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Copy data",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "OdbcSource",
									"query": {
										"value": "@activity('Lookup2').output.firstRow.SourceQuery",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "OdbcTable1",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "Briggs_MDW",
									"type": "DatasetReference",
									"parameters": {
										"schema_name": {
											"value": "@activity('Lookup2').output.firstRow.TargetStageTableSchema",
											"type": "Expression"
										},
										"table_name": {
											"value": "@activity('Lookup2').output.firstRow.TargetStageTableName",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Start_Table_Audit1",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Lookup2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[dbo].[proc_UpdateAuditLog_Briggs]",
									"storedProcedureParameters": {
										"ConfigTableID": {
											"type": "Int32",
											"value": {
												"value": "@item().ID",
												"type": "Expression"
											}
										},
										"DataFactoryName": {
											"type": "String",
											"value": {
												"value": "@pipeline().DataFactory",
												"type": "Expression"
											}
										},
										"ParentAuditID": {
											"type": "Int64",
											"value": {
												"value": "@item().ID",
												"type": "Expression"
											}
										},
										"PipelineName": {
											"type": "String",
											"value": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											}
										},
										"PipelineRunID": {
											"type": "String",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										},
										"PipelineTriggerID": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerId",
												"type": "Expression"
											}
										},
										"PipelineTriggerName": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerName",
												"type": "Expression"
											}
										},
										"PipelineTriggerType": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerType",
												"type": "Expression"
											}
										},
										"Sourcedb": {
											"type": "String",
											"value": {
												"value": "@item().sourceDB",
												"type": "Expression"
											}
										},
										"sourcetable": {
											"type": "String",
											"value": {
												"value": "@item().SourcetableName",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "Briggs_MDW",
									"type": "DatasetReference",
									"parameters": {
										"schema_name": "dbo",
										"table_name": "user"
									}
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "Success_Audit_Log1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy data",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[proc_UpdateAuditLog_Briggs]",
								"storedProcedureParameters": {
									"ConfigTableID": {
										"value": {
											"value": "@item().ID",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"RowsRead": {
										"value": {
											"value": "@activity('Copy data').output.RowsRead",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"Status": {
										"value": "Success",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "DS_MDW_SP",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Success_Audit_Log2",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy data_New",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[proc_UpdateAuditLog_Briggs]",
								"storedProcedureParameters": {
									"ConfigTableID": {
										"value": {
											"value": "@item().ID",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"RowsRead": {
										"value": {
											"value": "@activity('Copy data_New').output.RowsRead",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"Status": {
										"value": "Success",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "DS_MDW_SP",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Failure_Audit_Log2",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[proc_UpdateAuditLog_Briggs]",
								"storedProcedureParameters": {
									"ConfigTableID": {
										"value": {
											"value": "@item().ID",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"RowsRead": {
										"value": null,
										"type": "Int64"
									},
									"Status": {
										"value": {
											"value": "@variables('ErrorMsg')",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "DS_MDW_SP",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Copy data",
									"dependencyConditions": [
										"Failed"
									]
								},
								{
									"activity": "Copy data_New",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "ErrorMsg",
								"value": {
									"value": "@activity('Copy data_New').Error.Message",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "lkp_ExecStartAuditProc",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[proc_StartAuditLog]",
						"storedProcedureParameters": {
							"ConfigTableID": {
								"type": "Int32",
								"value": "-1"
							},
							"DataFactoryName": {
								"type": "String",
								"value": {
									"value": "@pipeline().DataFactory",
									"type": "Expression"
								}
							},
							"ParentAuditID": {
								"type": "Int64",
								"value": "-1"
							},
							"PipelineName": {
								"type": "String",
								"value": {
									"value": "@concat(pipeline().Pipeline,' Billing Source Table Load')",
									"type": "Expression"
								}
							},
							"PipelineRunID": {
								"type": "String",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"PipelineTriggerID": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerId",
									"type": "Expression"
								}
							},
							"PipelineTriggerName": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerName",
									"type": "Expression"
								}
							},
							"PipelineTriggerType": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerType",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Briggs_MDW",
						"type": "DatasetReference",
						"parameters": {
							"schema_name": "dbo",
							"table_name": "user"
						}
					}
				}
			},
			{
				"name": "Sp_ExecSuccessAudit",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Table Load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[proc_UpdateAuditLog]",
					"storedProcedureParameters": {
						"AuditID": {
							"value": {
								"value": "@activity('lkp_ExecStartAuditProc').output.firstRow.AuditID",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"DataLakePath": {
							"value": null,
							"type": "String"
						},
						"RowsRead": {
							"value": null,
							"type": "Int64"
						},
						"Status": {
							"value": "Success",
							"type": "String"
						},
						"PipelineRunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Sp_ExecFailureAudit",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Table Load",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[proc_UpdateAuditLog]",
					"storedProcedureParameters": {
						"AuditID": {
							"value": {
								"value": "@activity('lkp_ExecStartAuditProc').output.firstRow.AuditID",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"DataLakePath": {
							"value": null,
							"type": "String"
						},
						"PipelineRunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"RowsRead": {
							"value": null,
							"type": "Int64"
						},
						"Status": {
							"value": "Table Load Failed",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"ErrorMsg": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Netsuite"
		},
		"annotations": [],
		"lastPublishTime": "2022-04-29T07:50:01Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}