pipeline/PL_Master_Briggs_Statement.json
{
	"name": "PL_Master_Briggs_Statement",
	"properties": {
		"activities": [
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "lkp_ExecStartAuditProc",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_Generic_Copy_Statement",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "ReportStageProc",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select  * from dbo.control_table where processsequence = 2 and enableaction = 1 \nand subjectarea='Report Stage Statement SP'\norder by id",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Briggs_MDW",
						"type": "DatasetReference",
						"parameters": {
							"schema_name": "dbo",
							"table_name": "user"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_Stage",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ReportStageProc",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ReportStageProc').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Stored procedure1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Start_Table_Audit_Stage",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@item().sourcetablename",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "DS_MDW_SP",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Start_Table_Audit_Stage",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[dbo].[proc_StartAuditLog_Briggs]",
									"storedProcedureParameters": {
										"ConfigTableID": {
											"type": "Int32",
											"value": {
												"value": "@item().ID",
												"type": "Expression"
											}
										},
										"DataFactoryName": {
											"type": "String",
											"value": {
												"value": "@pipeline().DataFactory",
												"type": "Expression"
											}
										},
										"ParentAuditID": {
											"type": "Int64",
											"value": {
												"value": "@item().ID",
												"type": "Expression"
											}
										},
										"PipelineName": {
											"type": "String",
											"value": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											}
										},
										"PipelineRunID": {
											"type": "String",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										},
										"PipelineTriggerID": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerId",
												"type": "Expression"
											}
										},
										"PipelineTriggerName": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerName",
												"type": "Expression"
											}
										},
										"PipelineTriggerType": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerType",
												"type": "Expression"
											}
										},
										"Sourcedb": {
											"type": "String",
											"value": {
												"value": "@item().sourceDB",
												"type": "Expression"
											}
										},
										"sourcetable": {
											"type": "String",
											"value": {
												"value": "@item().SourcetableName",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "Briggs_MDW",
									"type": "DatasetReference",
									"parameters": {
										"schema_name": "dbo",
										"table_name": "user"
									}
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "Set variable_Stage",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Stored procedure1",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "ErrorMsg",
								"value": {
									"value": "@activity('Stored procedure1').Error.Message",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Failure_Audit_Log_Stage",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Set variable_Stage",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[proc_UpdateAuditLog_Briggs]",
								"storedProcedureParameters": {
									"ConfigTableID": {
										"value": {
											"value": "@item().ID",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"RowsRead": {
										"value": null,
										"type": "Int64"
									},
									"Status": {
										"value": {
											"value": "@variables('ErrorMsg')",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "DS_MDW_SP",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Success_Audit_Log_Stage",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Stored procedure1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[proc_UpdateAuditLog_Briggs]",
								"storedProcedureParameters": {
									"ConfigTableID": {
										"value": {
											"value": "@item().ID",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"RowsRead": {
										"value": null,
										"type": "Int64"
									},
									"Status": {
										"value": "Success",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "DS_MDW_SP",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "ReportFactProc",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ForEach_Stage",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Stage_Transfer_Order",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select  * from dbo.control_table where processsequence = 4 and enableaction = 1 \nand subjectarea='Report Fact Statement SP'\norder by id",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Briggs_MDW",
						"type": "DatasetReference",
						"parameters": {
							"schema_name": "dbo",
							"table_name": "user"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_Fact",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ReportFactProc",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ReportFactProc').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Stored procedure",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Start_Table_Audit1_Fact",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@item().sourcetablename",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "DS_MDW_SP",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Start_Table_Audit1_Fact",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[dbo].[proc_StartAuditLog_Briggs]",
									"storedProcedureParameters": {
										"ConfigTableID": {
											"type": "Int32",
											"value": {
												"value": "@item().ID",
												"type": "Expression"
											}
										},
										"DataFactoryName": {
											"type": "String",
											"value": {
												"value": "@pipeline().DataFactory",
												"type": "Expression"
											}
										},
										"ParentAuditID": {
											"type": "Int64",
											"value": {
												"value": "@item().ID",
												"type": "Expression"
											}
										},
										"PipelineName": {
											"type": "String",
											"value": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											}
										},
										"PipelineRunID": {
											"type": "String",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										},
										"PipelineTriggerID": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerId",
												"type": "Expression"
											}
										},
										"PipelineTriggerName": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerName",
												"type": "Expression"
											}
										},
										"PipelineTriggerType": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerType",
												"type": "Expression"
											}
										},
										"Sourcedb": {
											"type": "String",
											"value": {
												"value": "@item().sourceDB",
												"type": "Expression"
											}
										},
										"sourcetable": {
											"type": "String",
											"value": {
												"value": "@item().SourcetableName",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "Briggs_MDW",
									"type": "DatasetReference",
									"parameters": {
										"schema_name": "dbo",
										"table_name": "user"
									}
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "Set variable1_Fact",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Stored procedure",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "ErrorMsg",
								"value": {
									"value": "@activity('ReportStageProc').Error.Message",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Failure_Audit_Log_Fact",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Set variable1_Fact",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[proc_UpdateAuditLog_Briggs]",
								"storedProcedureParameters": {
									"ConfigTableID": {
										"value": {
											"value": "@item().ID",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"RowsRead": {
										"value": null,
										"type": "Int64"
									},
									"Status": {
										"value": {
											"value": "@variables('ErrorMsg')",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "DS_MDW_SP",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Success_Audit_Log2_Fact",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Stored procedure",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[proc_UpdateAuditLog_Briggs]",
								"storedProcedureParameters": {
									"ConfigTableID": {
										"value": {
											"value": "@item().ID",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"RowsRead": {
										"value": null,
										"type": "Int64"
									},
									"Status": {
										"value": "Success",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "DS_MDW_SP",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Stage_Transfer_Order",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "----TRANSFER_ORDER\nselect itt.transferid transfer_id\n\t\t,itt.inventlocationidfrom invent_location_id_from\n\t\t,itt.inventlocationidto invent_location_id_to\n\t\t,dbo.ENUM2STR('InventTransferStatus',itt.transferstatus) 'status'\n\t\t--,itt.SHIPDATE\n\t\t--,itt.RECEIVEDATE\n\t\t,itl.linenum line_num\n\t\t,itl.itemid item_id\n\t\t,id.wmslocationid wms_location_id\n\t\t,itl.qtytransfer qty_transfer\n\t\t,itl.shipdate ship_date\n\t\t,itl.receivedate receive_date\n\t\t,cast(invMod.price as decimal(10,2)) 'cost'\n\t\t,cast(invMod.price as decimal(10,2)) * itl.QTYTRANSFER 'ext_cost'\nfrom INVENTTRANSFERTABLE itt\nleft join INVENTTRANSFERLINE itl on itt.TRANSFERID = itl.TRANSFERID\nleft join INVENTDIM id on id.INVENTDIMID = itl.INVENTDIMID\ninner join [Briggs_Mst].dbo.INVENTTABLEMODULE invMod on invMod.itemid = itl.itemid and invMod.moduletype = 1 \nwhere itt.TRANSFERSTATUS = 2\nand year(itt.RECEIVEDATE)>='2019'-- between @startdate and @enddate",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "truncate table briggs.Stage_Transfer_Order",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "transfer_id",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "transfer_id",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "invent_location_id_from",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "invent_location_id_from",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "invent_location_id_to",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "invent_location_id_to",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "status",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "status",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "line_num",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 16,
									"precision": 32
								},
								"sink": {
									"name": "line_num",
									"type": "Decimal",
									"physicalType": "Decimal"
								}
							},
							{
								"source": {
									"name": "item_id",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "item_id",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "wms_location_id",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "wms_location_id",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "qty_transfer",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 16,
									"precision": 32
								},
								"sink": {
									"name": "qty_transfer",
									"type": "Decimal",
									"physicalType": "Decimal"
								}
							},
							{
								"source": {
									"name": "ship_date",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ship_date",
									"type": "DateTime",
									"physicalType": "DateTime"
								}
							},
							{
								"source": {
									"name": "receive_date",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "receive_date",
									"type": "DateTime",
									"physicalType": "DateTime"
								}
							},
							{
								"source": {
									"name": "cost",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 10
								},
								"sink": {
									"name": "cost",
									"type": "Decimal",
									"physicalType": "Decimal"
								}
							},
							{
								"source": {
									"name": "ext_cost",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 13,
									"precision": 38
								},
								"sink": {
									"name": "ext_cost",
									"type": "Decimal",
									"physicalType": "Decimal"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Briggs_MST",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Briggs_MDW",
						"type": "DatasetReference",
						"parameters": {
							"schema_name": "Briggs",
							"table_name": "Stage_Transfer_Order"
						}
					}
				]
			},
			{
				"name": "lkp_ExecStartAuditProc",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[proc_StartAuditLog]",
						"storedProcedureParameters": {
							"ConfigTableID": {
								"type": "Int32",
								"value": "-1"
							},
							"DataFactoryName": {
								"type": "String",
								"value": {
									"value": "@pipeline().DataFactory",
									"type": "Expression"
								}
							},
							"ParentAuditID": {
								"type": "Int64",
								"value": "-1"
							},
							"PipelineName": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"PipelineRunID": {
								"type": "String",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"PipelineTriggerID": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerId",
									"type": "Expression"
								}
							},
							"PipelineTriggerName": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerName",
									"type": "Expression"
								}
							},
							"PipelineTriggerType": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerType",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Briggs_MDW",
						"type": "DatasetReference",
						"parameters": {
							"schema_name": "dbo",
							"table_name": "user"
						}
					}
				}
			},
			{
				"name": "Sp_ExecFailureAudit_Fact",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ForEach_Fact",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[proc_UpdateAuditLog]",
					"storedProcedureParameters": {
						"AuditID": {
							"value": {
								"value": "@activity('lkp_ExecStartAuditProc').output.firstRow.AuditID",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"DataLakePath": {
							"value": null,
							"type": "String"
						},
						"PipelineRunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"RowsRead": {
							"value": null,
							"type": "Int64"
						},
						"Status": {
							"value": "Fact Proc Failed",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Sp_ExecSuccessAudit",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ForEach_Fact",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[proc_UpdateAuditLog]",
					"storedProcedureParameters": {
						"AuditID": {
							"value": {
								"value": "@activity('lkp_ExecStartAuditProc').output.firstRow.AuditID",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"DataLakePath": {
							"value": null,
							"type": "String"
						},
						"RowsRead": {
							"value": null,
							"type": "Int64"
						},
						"Status": {
							"value": "Success",
							"type": "String"
						},
						"PipelineRunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Sp_ExecFailureAudit_Stage",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ForEach_Stage",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[proc_UpdateAuditLog]",
					"storedProcedureParameters": {
						"AuditID": {
							"value": {
								"value": "@activity('lkp_ExecStartAuditProc').output.firstRow.AuditID",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"DataLakePath": {
							"value": null,
							"type": "String"
						},
						"PipelineRunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"RowsRead": {
							"value": null,
							"type": "Int64"
						},
						"Status": {
							"value": "Stage Proc Failed",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Sp_ExecFailureAudit_TL",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[proc_UpdateAuditLog]",
					"storedProcedureParameters": {
						"AuditID": {
							"value": {
								"value": "@activity('lkp_ExecStartAuditProc').output.firstRow.AuditID",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"DataLakePath": {
							"value": null,
							"type": "String"
						},
						"PipelineRunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"RowsRead": {
							"value": null,
							"type": "Int64"
						},
						"Status": {
							"value": "Table Load Failed",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"ErrorMsg": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Briggs Data Load Theme wise"
		},
		"annotations": [],
		"lastPublishTime": "2022-04-28T04:31:06Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}