pipeline/PL_Master_Briggs_Parquet_Load.json
{
	"name": "PL_Master_Briggs_Parquet_Load",
	"properties": {
		"activities": [
			{
				"name": "Lookup1_Incremental",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select  ID ID_Inc From dbo.control_table Where ProcessName = 'AzSQL_ADLS'  \nAND DataLoadType = 'Incremental'  and EnableAction = 1  \n and id <> 253 \norder by 1 ",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Briggs_MDW",
						"type": "DatasetReference",
						"parameters": {
							"schema_name": "dbo",
							"table_name": "user"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_Incremental_Load",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1_Incremental",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1_Incremental').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Lookup_Incremental",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat('select SourceQuery=''select '' +columnList+ '' from ''+ sourceDB+''.''+SourceSchemaName+''.''+SourcetableName + '' where \ncast(''+DateField+'' as date) >=''''''+lastdateparquet+''''''''\n,SourceDB\n,TargetContainer\n, TargetPath, TargetFile, FileFormat,DateField,lastdateparquet,targetstagetableschema,targetstagetablename\nfrom dbo.control_table\nwhere ID= ',item().ID_Inc)",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "Briggs_MDW",
									"type": "DatasetReference",
									"parameters": {
										"schema_name": "dbo",
										"table_name": "user"
									}
								}
							}
						},
						{
							"name": "Copy_BriggsMST_ADLS",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Lookup_Incremental",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@activity('Lookup_Incremental').output.firstRow.SourceQuery\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_Briggs_MST",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADLS_Parquet_1",
									"type": "DatasetReference",
									"parameters": {
										"ContainerName": {
											"value": "@activity('Lookup_Incremental').output.firstRow.TargetContainer",
											"type": "Expression"
										},
										"Path": {
											"value": "@activity('Lookup_Incremental').output.firstRow.TargetPath",
											"type": "Expression"
										},
										"FileName": {
											"value": "@concat(activity('Lookup_Incremental').output.firstRow.TargetFile,'_',formatDateTime(utcnow(),'yyyyMMdd'),'.',activity('Lookup_Incremental').output.firstRow.FileFormat)",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Lookup2_Full",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select Distinct ID ID_Full From dbo.control_table Where ProcessName = 'AzSQL_ADLS'  \nAND DataLoadType = 'Full'  and EnableAction = 1 \norder by 1 ",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Briggs_MDW",
						"type": "DatasetReference",
						"parameters": {
							"schema_name": "dbo",
							"table_name": "user"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_Full_Load",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup2_Full",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup2_Full').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Lookup_Full",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat('select SourceQuery=''select '' +columnList+ '' from ''+ sourceDB+''.''+SourceSchemaName+''.''+SourcetableName\n,SourceDB\n,TargetContainer\n, TargetPath, TargetFile, FileFormat,DateField,lastdateparquet,targetstagetableschema,targetstagetablename\nfrom dbo.control_table\nwhere ID= ',item().ID_Full)",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "Briggs_MDW",
									"type": "DatasetReference",
									"parameters": {
										"schema_name": "dbo",
										"table_name": "user"
									}
								}
							}
						},
						{
							"name": "Copy_BriggsMST_ADLS_copy1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Lookup_Full",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@activity('Lookup_Full').output.firstRow.SourceQuery\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_Briggs_MST",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADLS_Parquet_1",
									"type": "DatasetReference",
									"parameters": {
										"ContainerName": {
											"value": "@activity('Lookup_Full').output.firstRow.TargetContainer",
											"type": "Expression"
										},
										"Path": {
											"value": "@activity('Lookup_Full').output.firstRow.TargetPath",
											"type": "Expression"
										},
										"FileName": {
											"value": "@concat(activity('Lookup_Full').output.firstRow.TargetFile,'.',activity('Lookup_Full').output.firstRow.FileFormat)",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ForEach_Incremental_Load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[USP_Control_Table_LastDateParquet]"
				},
				"linkedServiceName": {
					"referenceName": "DS_MDW_SP",
					"type": "LinkedServiceReference"
				}
			}
		],
		"folder": {
			"name": "Briggs Data Load in Azure DataLake"
		},
		"annotations": [],
		"lastPublishTime": "2022-02-17T13:13:02Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}