pipeline/PL_Master_Briggs_Statement.json
{
	"name": "PL_Master_Briggs_Statement",
	"properties": {
		"activities": [
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_Generic_Copy_Statement",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "ReportStageProc",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select  * from dbo.control_table where processsequence = 2 and enableaction = 1 \nand subjectarea='Report Stage Statement SP'\norder by id",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Briggs_MDW",
						"type": "DatasetReference",
						"parameters": {
							"schema_name": "dbo",
							"table_name": "user"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_Stage",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ReportStageProc",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ReportStageProc').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Stored procedure1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@item().sourcetablename",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "DS_MDW_SP",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "ReportFactProc",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ForEach_Stage",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Stage_Transfer_Order",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select  * from dbo.control_table where processsequence = 4 and enableaction = 1 \nand subjectarea='Report Fact Statement SP'\norder by id",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Briggs_MDW",
						"type": "DatasetReference",
						"parameters": {
							"schema_name": "dbo",
							"table_name": "user"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_Fact",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ReportFactProc",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ReportFactProc').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Stored procedure",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@item().sourcetablename",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "DS_MDW_SP",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Stage_Transfer_Order",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "----TRANSFER_ORDER\nselect itt.transferid transfer_id\n\t\t,itt.inventlocationidfrom invent_location_id_from\n\t\t,itt.inventlocationidto invent_location_id_to\n\t\t,dbo.ENUM2STR('InventTransferStatus',itt.transferstatus) 'status'\n\t\t--,itt.SHIPDATE\n\t\t--,itt.RECEIVEDATE\n\t\t,itl.linenum line_num\n\t\t,itl.itemid item_id\n\t\t,id.wmslocationid wms_location_id\n\t\t,itl.qtytransfer qty_transfer\n\t\t,itl.shipdate ship_date\n\t\t,itl.receivedate receive_date\n\t\t,cast(invMod.price as decimal(10,2)) 'cost'\n\t\t,cast(invMod.price as decimal(10,2)) * itl.QTYTRANSFER 'ext_cost'\nfrom INVENTTRANSFERTABLE itt\nleft join INVENTTRANSFERLINE itl on itt.TRANSFERID = itl.TRANSFERID\nleft join INVENTDIM id on id.INVENTDIMID = itl.INVENTDIMID\ninner join [Briggs_Mst].dbo.INVENTTABLEMODULE invMod on invMod.itemid = itl.itemid and invMod.moduletype = 1 \nwhere itt.TRANSFERSTATUS = 2\nand year(itt.RECEIVEDATE)>='2019'-- between @startdate and @enddate",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "truncate table briggs.Stage_Transfer_Order",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "transfer_id",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "transfer_id",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "invent_location_id_from",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "invent_location_id_from",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "invent_location_id_to",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "invent_location_id_to",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "status",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "status",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "line_num",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 16,
									"precision": 32
								},
								"sink": {
									"name": "line_num",
									"type": "Decimal",
									"physicalType": "Decimal"
								}
							},
							{
								"source": {
									"name": "item_id",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "item_id",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "wms_location_id",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "wms_location_id",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "qty_transfer",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 16,
									"precision": 32
								},
								"sink": {
									"name": "qty_transfer",
									"type": "Decimal",
									"physicalType": "Decimal"
								}
							},
							{
								"source": {
									"name": "ship_date",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ship_date",
									"type": "DateTime",
									"physicalType": "DateTime"
								}
							},
							{
								"source": {
									"name": "receive_date",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "receive_date",
									"type": "DateTime",
									"physicalType": "DateTime"
								}
							},
							{
								"source": {
									"name": "cost",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 10
								},
								"sink": {
									"name": "cost",
									"type": "Decimal",
									"physicalType": "Decimal"
								}
							},
							{
								"source": {
									"name": "ext_cost",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 13,
									"precision": 38
								},
								"sink": {
									"name": "ext_cost",
									"type": "Decimal",
									"physicalType": "Decimal"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Briggs_MST",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Briggs_MDW",
						"type": "DatasetReference",
						"parameters": {
							"schema_name": "Briggs",
							"table_name": "Stage_Transfer_Order"
						}
					}
				]
			}
		],
		"folder": {
			"name": "Briggs Data Load Theme wise"
		},
		"annotations": [],
		"lastPublishTime": "2022-02-17T07:35:54Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}